In [59]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [60]:
# Retrive the dataset
ds=pd.read_csv('Breast_cancer_data.csv')

In [70]:
# Seperate X as feature vector and Y as output
X=ds.iloc[:,0:5]
Y=ds.iloc[:,-1]
X.head()

   mean_radius  mean_texture  mean_perimeter  mean_area  mean_smoothness
0        17.99         10.38          122.80     1001.0          0.11840
1        20.57         17.77          132.90     1326.0          0.08474
2        19.69         21.25          130.00     1203.0          0.10960
3        11.42         20.38           77.58      386.1          0.14250
4        20.29         14.34          135.10     1297.0          0.10030

In [71]:
# Feature scaling
X=X.to_numpy()
ma=np.amax(X,axis=0)
X=np.divide(X,ma)
X=pd.DataFrame(X)
X.head()

          0         1         2         3         4
0  0.639986  0.264257  0.651459  0.400240  0.724602
1  0.731768  0.452393  0.705040  0.530188  0.518605
2  0.700462  0.540988  0.689655  0.481008  0.670747
3  0.406261  0.518839  0.411565  0.154378  0.872093
4  0.721807  0.365071  0.716711  0.518593  0.613831

In [72]:
# Distribute data among training set and test set
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size=0.5)
# Convert sets from datafram to numpy vectors
X_train=X.to_numpy().T
X_test=X_test.to_numpy().T
Y_train=Y.to_numpy()
Y_test=Y_test.to_numpy()
 #convert 1D vector into 2D vector
Y_test=Y_test.reshape((1,X_test.shape[1]))
Y_train=Y_train.reshape((1,X_train.shape[1]))

In [73]:
m=X_train.shape[1] # Nos of expamle
features=X_train.shape[0] #Features
iteration=500000
learning_rate=0.01

In [74]:
#initialize parameter
W = np.random.rand(features, 1)*0.0
b = 0

In [75]:
#Training
for i in range(iteration):
    #Forward Propogation
    Z=np.dot(W.T,X_train) + b
    A=1/(1+np.exp(-Z))
    #cost Function
    J= np.sum((Y_train*np.log(A)) + ((1 - Y_train)*np.log(1 - A)))/(-m) 
    #Backpropogation
    dW=np.dot(X_train,(A-Y_train).T)/m
    db=np.sum(A-Y_train)/m
    #Update the parameter
    W=W-(learning_rate*dW)
    b=b-(learning_rate*db)

In [76]:
Z=np.dot(W.T,X_train) + b
pred=np.zeros((1,m))
A=1/(1+np.exp(-Z))
for i in range(X_train.shape[1]):
    if(A[0][i]>=0.5):
        pred[0][i]=1
    else:
        pred[0][i]=0
print("train accuracy: {}%".format(100 - np.mean(np.abs(pred - Y_train)) * 100))

train accuracy: 92.09138840070298%

In [77]:
#Testing
Z=np.dot(W.T,X_test)+b
pred=np.zeros((1,X_test.shape[1]))
A=1/(1+np.exp(-Z))
for i in range(X_test.shape[1]):
    if(A[0][i]>0.5):
        pred[0][i]=1
    else:
        pred[0][i]=0

In [78]:
#SucessRate
print("test accuracy: {} %".format(100 - np.mean(np.abs(pred - Y_test)) * 100))

test accuracy: 90.87719298245614 %