In [24]:
import numpy as np
import pandas as pd
import sklearn
import pickle

In [25]:
# Retrive the dataset
ds=pd.read_csv('Breast_cancer_data.csv')

In [26]:
# Seperate X as feature vector and Y as output
X=ds.iloc[:,0:5]
Y=ds.iloc[:,-1]
X.head()

   mean_radius  mean_texture  mean_perimeter  mean_area  mean_smoothness
0        17.99         10.38          122.80     1001.0          0.11840
1        20.57         17.77          132.90     1326.0          0.08474
2        19.69         21.25          130.00     1203.0          0.10960
3        11.42         20.38           77.58      386.1          0.14250
4        20.29         14.34          135.10     1297.0          0.10030

In [27]:
# Feature scaling
X=X.to_numpy()
ma=np.amax(X,axis=0)
X=np.divide(X,ma)
X=pd.DataFrame(X)
X.head()

          0         1         2         3         4
0  0.639986  0.264257  0.651459  0.400240  0.724602
1  0.731768  0.452393  0.705040  0.530188  0.518605
2  0.700462  0.540988  0.689655  0.481008  0.670747
3  0.406261  0.518839  0.411565  0.154378  0.872093
4  0.721807  0.365071  0.716711  0.518593  0.613831

In [28]:
from sklearn import model_selection,linear_model
x_train,x_test,y_train,y_test=model_selection.train_test_split(X,Y, test_size=0.20,random_state=5)
model=sklearn.linear_model.LogisticRegression()

In [29]:
# Training
model=sklearn.linear_model.LogisticRegression()
model=model.fit(x_train,y_train)

In [32]:
#testing
y_pred=model.predict(x_test)
((100 - np.mean(np.abs(y_pred - y_test))*100))

[0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 0 0 0 1 0 1 1 0
 1 1 0 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 0 0 0 1 0 0 0 1 1 1 1 1 1 1 0 1 0 1 1
 1 1 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 1 0 1
 0 1 0]

In [31]:
f=open("model.pkl",'wb')
pickle.dump(model,f)
f.close()